.app-logo
{
    height: 10vh;
    width: 100%;
    object-fit: contain;
}

h1
{
    font-size: 1.625rem;
    margin-top: 5px;
}
.label
{
    font-weight: 300;
    font-size: 15px;
}
.card
{
    width: 100%;
    margin: 0px;
}
.social-logo
{
    height: 3vh;
}

.password
{
    padding:7px 16px;
}

.submit-btn
{
    border-radius: 32px;
}