.app-logo
{
    height: 15vh;
    width: 100%;
    object-fit: contain;
}

h1
{
    font-size: 2.625rem;
}

.card
{
    width: 100%;
    margin: 0px;
}
.social-logo
{
    height: 4vh;
}

.submit-btn
{
    border-radius: 32px;
}