<ion-content>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-img class="app-logo" src="assets/icon/logo-wbg.png"> </ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="mb-10">
    <ion-col class="ion-text-center">
      <h1>Welcome</h1>
      <ion-label>Please enter your details to sign in</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="mb-20">
    <ion-col class="ion-text-center">
      <ion-card class="card">
        <ion-card-header style="padding: 7px !important">
          <ion-card-title>
            <img
              class="social-logo"
              src="assets/images/logos/google.svg"
              alt=""
            />
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-card class="card">
        <ion-card-header style="padding: 7px !important">
          <ion-card-title>
            <img
              class="social-logo"
              src="assets/images/logos/apple.svg"
              alt=""
            />
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-card class="card">
        <ion-card-header style="padding: 7px !important">
          <ion-card-title>
            <img
              class="social-logo"
              src="assets/images/logos/insta.svg"
              alt=""
            />
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-row>
      <ion-col class="ion-padding">
        <ion-input
          formControlName="email"
          label="Email"
          labelPlacement="floating"
          type="email"
          placeholder="email@domain.com"
          fill="outline"
        ></ion-input>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="password ion-text-end">
        <ion-input
        class="ion-text-start"
          formControlName="password"
          label="Password"
          labelPlacement="floating"
          type="password"
          fill="outline" 
        ></ion-input>

        <ion-text color="primary"><sub>Forgot Password ?</sub></ion-text> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class=" ion-padding-horizontal ion-text-center" >
        <ion-button class="submit-btn app-theme ion-padding-horizontal" expand="full"  type="submit" >
          Login 
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" >
        <ion-text>Don't have an account? <ion-text color="primary" routerLink="/signup" >Create Here</ion-text> </ion-text>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
