.profile-icon
{
    height: 5vh;
    width: 5vh;
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/package.jpeg);
    opacity: 0.15; /* Adjust the opacity value as per your preference */
    z-index: -1;
  }
.heading
{
    font-weight: bold;
    font-size: 3vh;

}
.search
{
    --border-radius: 25px;
}

